<% include header %>
	<div class="box section about min-height">
		<div id="website-nofind">
			<h1>404 Not Found</h1>
			<p>sorry we can not find that!</p>
		</div>
	</div>
<% include footer %>