<% include header %>
	<div class="box section about min-height">
		<div id="website-error">
			<h1><%= status%></h1>
			<p><%= message%></p>
			<p>
				请稍后尝试刷新页面
			</p>
		</div>
	</div>
<% include footer %>