<% include header %>
	<div class="box section about">
		<div id="section-left" class="fl">
			<div id="done-open-website" class="clearfix">
				<h3>此处的产品只代表这些项目可以通过网站访问：</h3>
				<div class="website-area">
					<div class="website_box info_box abs" style="display: none;">
						<div class="website_img">
							<h3 class="tc">保鲜期</h3>
							<p>保鲜期返利网成立于2013年8月，是国内专业的网络购物门户网站，以第三方的身份提供客观公正的网购向导服务。时至今日，保鲜期的合作商家超过600家，覆盖国内主流的B2C电子商务平台。</p>
							<p>这是一个折扣网站，保鲜期低价折扣返利商品；这是一个返利网站，去淘宝、商城、团购网站购物均可返利；这是一个纯买家社区，几十万真实用户的在线交流帮您一起购物</p>
						</div>
						<a class="btn-default code" href="javascript:;" data-type="code" >返回</a>
					</div>
					<div class="website_box code_box abs" style="display: block;">
						<div class="website_img">
							<img src="/project/labimages/baoxianqi.png">
						</div>
						<a class="btn-default info" href="javascript:;" data-type="info" >简介</a>
						<a class="btn-default target" target="_blank" href="http://www.baoxianqi.com?from=http://www.baiyatao.com">打开网站</a>
					</div>
				</div>
				<div class="website-area">
					<div class="website_box info_box abs" style="display: none;">
						<div class="website_img">
							<h3 class="tc">特价保鲜期</h3>
							<p>特价保鲜期和保鲜期都是隶属于武汉四三一八网络科技公司旗下网站，在我们的网站里，您可以网络购物更加省钱、更加精彩！加入保鲜期，抢折扣、拿返利、看分享。</p>
							<p>网站主要采用的seajs+jquery脚本库</p>
						</div>
						<a class="btn-default code" href="javascript:;" data-type="code" >返回</a>
					</div>
					<div class="website_box code_box abs" style="display: block;">
						<div class="website_img">
							<img src="/project/labimages/tejia.png">
						</div>
						<a class="btn-default info" href="javascript:;" data-type="info" >简介</a>
						<a class="btn-default target" target="_blank" href="http://tejia.baoxianqi.com?from=http://www.baiyatao.com">打开网站</a>
					</div>
				</div>
				<div class="website-area">
					<div class="website_box info_box abs" style="display: none;">
						<div class="website_img">
							<h3 class="tc">好哇美业连锁管理系统</h3>
							<p>HOWA美业管控系统,一改传统管理软件流程和表单的设计和体验， HOWA美业管控系统首次以"工作计划"（计划-任务）为中心，完美融合销售流程、客户疗效管理、客户到店管理、等</p>
							<p>这家公司没有在我的个人信息里面出现，因为我为公司加班加点，最后老板来个"卸磨杀驴",但是所有的磨难都是我的一种经历，谢谢此老板！感谢心机重的小伙伴</p>
						</div>
						<a class="btn-default code" href="javascript:;" data-type="code" >返回</a>
					</div>
					<div class="website_box code_box abs" style="display: block;">
						<div class="website_img">
							<img src="/project/labimages/howa.png">
						</div>
						<a class="btn-default info" href="javascript:;" data-type="info" >简介</a>
						<a class="btn-default target" target="_blank" href="http://www.howa.com.c/?from=http://www.baiyatao.com">打开网站</a>
					</div>
				</div>
				<div class="website-area">
					<div class="website_box info_box abs" style="display: none;">
						<div class="website_img">
							<h3 class="tc">51爱语网</h3>
							<p>主要为学习者提供海量、优质的小语种课程。爱语网的宗旨是，为每一位想真真正正学到些实用知识、技能的学习者，提供贴心的一站式学习服务</p>
							<p>此网站是刘经理和陈老师2013年8月份的接的私单转给我的，但页面的样式和脚本都出自本人，最后离职这个单子就没有跟进过，所以您看到的源码不完全代表出自本人之手！</p>
						</div>
						<a class="btn-default code" href="javascript:;" data-type="code" >返回</a>
					</div>
					<div class="website_box code_box abs" style="display: block;">
						<div class="website_img">
							<img src="/project/labimages/aiyu.png">
						</div>
						<a class="btn-default info" href="javascript:;" data-type="info" >简介</a>
						<a class="btn-default target" target="_blank" href="http://www.51aiyu.com?from=http://www.baiyatao.com">打开网站</a>
					</div>
				</div>
				<div class="website-area">
					<div class="website_box info_box abs" style="display: none;">
						<div class="website_img">
							<h3 class="tc">讯商</h3>
							<p>武汉伯仲科技发展有限公司是一家专注于使用IT科技技术手段为家具行业提供集成解决方案的公司，公司产品线广泛覆盖家具行业各个环节，为家具卖场、家具厂商、家具物流公司、门店提供软硬件产品和系统。</p>
							<p>网站分为pc端和移动端，自动分析客户使用的设备,主要采用的QequerJS+JqueryJS+BackboneJS+UnderscoreJS+Bootstrap</p>
						</div>
						<a class="btn-default code" href="javascript:;" data-type="code" >返回</a>
					</div>
					<div class="website_box code_box abs" style="display: block;">
						<div class="website_img">
							<img src="/project/labimages/xunshang.png">
						</div>
						<a class="btn-default info" href="javascript:;" data-type="info" >简介</a>
						<a class="btn-default target" target="_blank" href="http://app.bzon.net?from=http://www.baiyatao.com">打开网站</a>
					</div>
				</div>
				<div class="website-area">
					<div class="website_box info_box abs" style="display: none;">
						<div class="website_img">
							<h3 class="tc">服装订货会系统</h3>
							<p>我于2013年7月15日进的公司，第一次参加创业团队，开始只有我们三个编码人员，没有设计,所有的功能需求都是我们几个人开会商量、画草图，使订货会更加快捷，节约时间和成本</p>
							<p>那段时间也是我心情极差的时候，但是也是我自豪的产品，为写Android自定义统计控件自己在公司加班一夜第二天照常上班，在老板的办公室睡了几个小时。在此公司要感谢周军、吴涛、郑齐、赖超、</p>
						</div>
						<a class="btn-default code" href="javascript:;" data-type="code" >返回</a>
					</div>
					<div class="website_box code_box abs" style="display: block;">
						<div class="website_img">
							<img src="/project/labimages/dinghuo.png">
						</div>
						<a class="btn-default info" href="javascript:;" data-type="info" >简介</a>
					</div>
				</div>
			</div>
			<ul style="display: none;">
	            <li><a href="http://app.bzon.net?from=http://www.baixiabao.com" title="基于jqeury , 使用requirejs作为模块加载器讯商大管家" target="_blank">讯商大管家</a></li>
	            <li><a href="http://www.baoxianqi.com?from=http://www.baixiabao.com" title="基于jqeury , 使用seajs作为模块加载器的购物网站" target="_blank">保鲜期</a></li>
	        </ul>
		</div>
        <div id="section-right" class="fr">
        	<div class="small-box">
        		<h3>技能标签</h3>
        		<div id="skill-label" class="clearfix">
        			<span title="JavaScript">JavaScript</span>
        			<span title="Bootstrap">Bootstrap</span>
        			<span title="UnderscoreJS">UnderscoreJS</span>
        			<span title="HTML5">HTML5</span>
        			<span title="JqueryJS">JqueryJS</span>
        			<span title="BackboneJS">BackboneJS</span>
        			<span title="ZeptoJS">ZeptoJS</span>
        			<span title="C#">C#</span>
        			<span title="RequireJS">RequireJS</span>
        			<span title="SeaJS">SeaJS</span>
        			<span title="NodeJS">NodeJS</span>
        			<span title="PHP">PHP</span>
        			<span title="SqlServer">SqlServer</span>
        			<span title="Mysql">Mysql</span>
        			<span title="Mongdb">Mongdb</span>
        			<span title="Sqlite">Sqlite</span>
        		</div>
        	</div>
        	<% include author %>
			<div class="small-box">
				<h3>向前端白小白捐款</h3>
				<img src="/images/zhifubao.png" width="100%"/>
			</div>
        </div>
        <div class="clearfix"></div>
	</div>
<% include footer %>