<% include header %>
	<div class="box section about">
		<div id="section-left" class="fl">
			<div class="ds-thread" data-thread-key="h" data-title="画江湖之不良人" data-url="http://baiyatao.com/videoplayer/play.html"></div>
		</div>
		<div id="section-right" class="fr clearfix">
			<div id="js-post-random" class="small-box">
				<h3>为您随机推荐的文章</h3>
				<span id="js-need-reload" class="icomoon"></span>
				<div id="circle" style="display: block;"></div>
				<div id="circle1" style="display: block;"></div>
				<ul id="js_random-article" style="display: none;"></ul>
			</div>
			<% include author %>
			<div id="duoshuo-visit" class="small-box">
				<h3>网站最近访客：</h3>
				<ul class="ds-recent-visitors" data-num-items="10"></ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
<% include footer %>