<% include header %>
	<div class="box section about">
		<div class="addlinks">
			<ul>
				<li>
					<p>链接名称:</p>
					<input id="js_link-name" class="addlink-input" type="text"/>
				</li>
				<li>
					<p>链接地址:</p>
					<input id="js_link-url" class="addlink-input" type="text"/>
				</li>
				<li>
					<p>是否为内链:
						<input id="js_link-isInner" class="" type="checkbox"/>
					</p>
				</li>
				<li>
					<p>是否交换链接:
						<input id="js_link-isExchange" class="" type="checkbox"/>
					</p>
				</li>
				<li>
					<p>链接描述:</p>
					<textarea id="js_link-description" class="addlink-input">
						
					</textarea>
				</li>
			</ul>
			<div class="atlhand-btns">
				<a id="js_add-links" href="javascript:;">发布链接</a>
			</div>
		</div>
	</div>
<% include footer %>