		<div class="footer">
			<div class="footer-c">
				<p><span>Copyright © 2015-2018  <a href="http://www.baiyatao.com">baiyatao.com</a>  <a href="http://www.miitbeian.gov.cn">鄂ICP备15001156号-4</a></span></p>
				<p><span>其它任何合作事项，请发送邮件：<a href="mailto:flytosky1991@126.com?subject=baiyatao.com">flytosky1991@126.com</a></span></p>
			</div>
		</div>
	  <script type="text/javascript" src="/javascripts/jquery.js"></script>
	  <script type="text/javascript" src="/javascripts/admin/admin.js"></script>
	</body>
</html>