<% include header %>
	<div class="box section about">
		<div class="admin-login">
			<h3>Blog 后台登录</h3>
			<input id="js_username" class="login-input" type="text" name="username" placeholder="username"/>
			<input id="js_password" class="login-input" type="password" name="userpwd" placeholder="password"/>
			<input id="js_login-btn" class="login-submit" type="submit" value="登录"/>
			<p>
				<a class="js-update-pwd" href="/admin/updatepwd">修改密码</a>
			</p>
		</div>
	</div>
<% include footer %>