<% include header %>
	<div class="box section about">
		<div class="admin-login">
			<h3>Blog 修改管理员密码</h3>
			<input id="js_username" class="login-input" type="text" name="username" placeholder="username"/>
			<input id="js_password" class="login-input" type="password" name="userpwd" placeholder="old password"/>
			<input id="js_repassword" class="login-input" type="password" name="rpassword" placeholder="new password"/>
			<input id="js_update-pwd" class="login-submit" type="submit" value="修改"/>
			<p>
				<a href="/admin/login">返回登录</a>
			</p>
		</div>
	</div>
<% include footer %>